.list {
    margin: 0px 100px;
}

.list li {
    margin-bottom: 20px;
}

.tutorial-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.observations {
    border: 1px solid black;
    background-color: #f7f7f7;
    padding: 30px;
    margin-bottom: 30px;
}